.saveValue {
    border: 1px solid #9E9E9E;
    width: 300px;
    height: 200px;
    margin: 10px;
    overflow:auto;
}

.result {
    border: 1px solid #9E9E9E;
    width: 300px;
    height: 150px;
    margin: 10px;
}

input {
    margin: 15px;
}

p{
    margin: 10px;
}

input:focus {
     border: 2px groove #BDBDBD;
     outline: none;
}

body{
    color: #212121;
}
